<ul>
	<li>Design for the Real World (V. Papanek)</li>
	<li>Design for Human Scale (V. Papanek)</li>
	<li>The Green Imperative (V. Papanek)</li>
	<li>Designing for People (H. Dreyfuss)</li>
	<li>The Design Of Everyday Things (D. A. Norman)</li>
	<li class="no-check">User Centered System Design (edit.: D. A. Norman)</li>
	<li>Operating Manual for Spaceship Earth (R. B. Fuller)</li>
	<li class="no-check">A Pattern Language (M. Silverstein et al.)</li>
	<li>Getting Real, Rework, Remote (37signals)</li>
	<li>Information Architecture for the World Wide Web (L. Rosenfeld &amp; P. Morville)</li>
	<li>Don&#39;t Make Me Think, Revisited (S. Krug)</li>
	<li class="no-check">Human Information Interaction (R. Fidel)</li>
	<li>Mobile First (L. Wroblewski)</li>
	<li>Design for Emotion (A. Walter)</li>
	<li>The Best Interface Is No Interface (G. Krishna)</li>
	<li>The Shape of Design (F. Chimero)</li>
	<li>UX for Lean Startups (L. Klein)</li>
	<li>Business Model Generation (A. Osterwalder &amp; Y. Pigneur)</li>
	<li class="no-check">Information Design (edit.: R. Jacobson)</li>
	<li>A Short History of Nearly Everything (B. Bryson)</li>
	<li>All Marketers Are Liars (S. Godin)</li>
	<li>The Breakdown of Nations (L. Kohr)</li>
	<li>Discipline and Punish (M. Foucault)</li>
</ul>
