.meetups {
	margin-top: $spacing*3;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	padding: $spacing/2 $spacing;
	background-image: url(../img/textures/paper-grid.jpg);
	background-size: 100%;
	transform: rotate(-1deg);
	@include shadow-standard;
	@include backface;

	@include MQ(L) {
		max-width: 19.5em;
		padding: $spacing/2 $spacing*2;
		transform: rotate(0.75deg);
	}
}

.meetups__title {
	margin-bottom: 0;
	font-size: ms(2);
	font-family: $secondary-font;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $red;
}

.meetups__inner {
	color: $blue;
	font-size: ms(1);
	font-family: $secondary-font;
	opacity: 0.85;
}

.meetups ul {
	padding: 0;
	margin-top: 0;
	list-style-type: none;
}