// FONT-WEIGHT
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-bold {
	font-weight: 700;
}

.text-italic {
	font-style: italic;
}

.text-small {
	font-size: ms(-1);
}

.text-super-small {
	font-size: ms(-2);
}

// FONT FAMILIES
